@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Nunito";
    src: url("/fonts/Nunito-Regular.eot");
    src: url("/fonts/Nunito-Regular.woff2") format("woff2"), url('/fonts/Nunito-Regular.woff') format('woff'), url('/fonts/Nunito-Regular.ttf') format('truetype'), url("/fonts/Nunito-Regular.svg") format("svg");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Nunito";
    src: url('/fonts/Nunito-Bold.eot');
    src: url('/fonts/Nunito-Bold.woff2') format('woff2'), url('/fonts/Nunito-Bold.woff') format('woff'), url('/fonts/Nunito-Bold.ttf') format('truetype'), url('/fonts/Nunito-Bold.svg') format('svg');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
}

html,
body,
h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

body {
  @apply font-nunito text-light-gray;
}

a {
  color: inherit;
  text-decoration: none;
}

*,*::before,*::after {
  box-sizing: border-box;
}


.App {
  font-family: sans-serif;
  text-align: center;
}

.close {
  @apply relative block;

  &::before, &::after {
    @apply content-[''] absolute block top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] bg-caramel w-5 h-0.5 rounded-[1px];
  }

  &::before {
    @apply rotate-45;
  }
  &::after {
    @apply -rotate-45;
  }
}
